/obj/project.assets.json
/obj/vulnusPlugin.csproj.nuget.g.props
/obj/vulnusPlugin.csproj.nuget.dgspec.json
/obj/project.packagespec.json
/obj/project.nuget.cache
/obj/rider.project.restore.info
/obj/vulnusPlugin.csproj.nuget.g.targets
/bin/Debug/netstandard2.0/
/.idea
/obj/Debug/netstandard2.0/vulnusPlugin.assets.cache
/obj/Debug/netstandard2.0/vulnusPlugin.csproj.AssemblyReference.cache
/obj/Debug/netstandard2.0/vulnusPlugin.pdb
/obj/Debug/netstandard2.0/vulnusPlugin.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netstandard2.0/vulnusPlugin.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard2.0/vulnusPlugin.csproj.CopyComplete
/obj/Debug/netstandard2.0/vulnusPlugin.csproj.FileListAbsolute.txt
/obj/Debug/netstandard2.0/vulnusPlugin.dll
/obj/Debug/netstandard2.0/vulnusPlugin.AssemblyInfoInputs.cache
/Folder.DotSettings.user
